* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  font-family: "HelveticaNeue";
}
header nav {
  display: inline-block;
  margin-left: 250px;
  vertical-align: top;
}
.picture {
  margin-left: 80px;
}
div {
  margin-left: 80px;
  padding-left: 25px;
}
.contact {
  background-color: #ffffff;
  border-radius: 28px;
  width: 160px;
  padding: 18px 43px 18px 35px;
  height: unset;
  text-align: center;
}
li {
  display: inline-block;
  height: 18px;
  height: 50px;
  width: 50px;
  margin-right: 50px;
}
header {
  background-color: #0020f4;
  height: 388px;
  margin-bottom: -150px;
}
header img {
  margin-left: 240px;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
header img {
  width: 115px;
}
.footer-h1 {
  margin-left: 80px;
  margin-bottom: 770px;
  margin-top: 455px;
}
h2 {
  /* text-align: center; */
  color: #171717;
  font-size: 28px;
  margin-left: 80px;
}
.first-p {
  margin-top: 60px;
}
p {
  font-size: 16px;
  color: #171717;
  text-align: left;
  margin-bottom: 18px;
}
h3 {
  font-size: 16px;
  background-color: #0a22f4;
  background-position: right bottom;
  border-radius: 28px;
  width: 341px;
  height: 55px;
  text-align: center;
  margin-top: 76px;
  margin-left: 500px;
}
h3 a {
  color: #ffffff;
  text-align: center;
  background-position: right bottom;
}
nav a {
  font-size: 16px;
  color: #ffffff;
}
.contact {
  background-color: white;
  border-radius: 28px;
  width: 160px;
  height: 65px;
  text-align: center;
}
.contact a {
  color: #000000;
  width: 160px;
}
footer {
  background-color: #0a22f4;
  font-size: 16px;
  height: 1080px;
  margin-top: 180px;
  color: #ffffff;
}
.footer-h1 {
  font-size: 32px;
  color: #ffffff;
  margin-top: 30px;
  margin-left: 240px;
}
.footer-p {
  color: #ffffff;
  margin-top: 30px;
  margin-left: 240px;
}
.add-more {
  padding: 18px 77px 18px 57px;
}
footer h4 {
  margin-left: 240px;
}
footer h5 {
  margin-left: 1345px;
}
